<div
    class="fixed top-0 left-0 hidden w-full h-full overflow-x-hidden overflow-y-auto outline-none modal fade"
    id="addItemModal"
    tabindex="-1"
    aria-labelledby="Add Collection"
    aria-hidden="true"
>
    <div class="relative w-auto pointer-events-none modal-dialog">
        <div
            class="relative flex flex-col w-full text-current bg-white border-none rounded-md shadow-lg outline-none pointer-events-auto modal-content bg-clip-padding"
        >
            <div
                class="flex items-center justify-between flex-shrink-0 p-4 border-b border-gray-200 modal-header rounded-t-md"
            >
                <h5 class="text-xl font-medium leading-normal text-gray-800">Add
                    an item to your
                    <span class="text-green-600">{{collection.name}}</span>
                    collection!</h5>
            </div>

            <div class="block p-6 bg-white rounded-lg shadow-lg">
                <form
                    action="/api/items"
                    enctype="multipart/form-data"
                    method="post"
                >
                    <div class="mb-4 form-group">
                        <input
                            type="text"
                            class="form-control-file mb-2 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="iname"
                            placeholder="Item Name"
                        />

                        <textarea
                            class="form-control mb-2 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="itemDescription"
                            rows="3"
                            placeholder="Description"
                        ></textarea>

                        {{!-- <input
                            type="text"
                            class="form-control mb-2 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="itemPrice"
                            placeholder="Item Price?"
                        /> --}}
                        <label for="image"> Select image
                        <input
                            id="image"
                            type="file"
                            class="form-control mb-4 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            accept=".jpg,.jpeg,.png,.svg,.webp,image/*"
                            name="uploaded_image"
                        />
                        </label>

                        <input
                            type="hidden"
                            class="form-control"
                            name="collectionId"
                            value="{{collection.collectionId}}"
                        />

                    </div>

                    <div
                        class="flex flex-wrap items-center justify-end flex-shrink-0 px-4 border-gray-200 rounded-b-md"
                    >

                        <button
                            type="button"
                            class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                            data-bs-dismiss="modal"
                        >Close</button>

                        <button
                            type="submit"
                            value="Submit"
                            class="px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
                        >Create</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>