{{!-- this could be a static page, or it could be rendered
        either way, I think we'd be looking at hard-coded information here
        unless we want to create a model for the team/contributors?

        not priority, but I think it would be fun to have something interesting or personal on this page--}}



  <!-- Container for demo purpose -->
  <div class="container my-24 px-6 mx-auto">
    <section class="mb-32 text-gray-800 text-center lg:text-left">

      <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 items-center">
        <div class="mb-6 lg:mb-0">
          <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight">
            About <br />Many<span class="text-blue-600">Fest</span>
          </h2>
        </div>
        <div class="mb-6 lg:mb-0">
          <h3 class="uppercase text-3xl text-blue-600 font-bold mb-2">Manifest <span class="text-xl font-normal italic text-slate-600/75 pl-4">noun</span></h3>
          <p class="text-gray-500 text-lg">
            -- a list of passengers or an invoice of cargo for a vehicle (such as a ship or plane) --
          </p>
           <p class="text-stone-700 text-2xl pt-5">Many<span class="text-blue-600">Fest</span> is an application dedicated to helping organize all of the lists you may require.</p>
        </div>
      </div>
    </section>
  </div>
<!-- About me section -->
<div class="container my-24 px-6 mx-auto">
  <section class="mb-32 text-gray-800 text-center">
    <h2 class="text-3xl font-bold mb-12">Meet the <u class="text-blue-600">team</u></h2>

    <div class="grid md:grid-cols-3 gap-x-6 lg:gap-x-12">
      <div class="mb-6 lg:mb-0">
        <div class="bg-white block rounded-lg shadow-lg">
          <div class="relative overflow-hidden bg-no-repeat bg-cover">
            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="w-full rounded-t-lg" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
            </a>
            <svg class="absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
              style="left: 0; bottom: 0">
              <path fill="#fff"
                d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
              </path>
            </svg>
          </div>
          <div class="p-6">
            <h5 class="text-lg font-bold mb-4">Kit Glidden</h5>
            <p class="text-gray-500 mb-4">Fullstack Web Developer</p>
            <ul class="list-inside flex mx-auto justify-center">
              <a href="#!" class="px-2">
                <i class="fa-brands fa-github"></i>
              </a>
              <a href="#!" class="px-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#!" class="px-2">
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-6 lg:mb-0">
        <div class="bg-white block rounded-lg shadow-lg">
          <div class="relative overflow-hidden bg-no-repeat bg-cover">
            <img src="/images/Jesse.png" class="w-full rounded-t-lg" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
            </a>
            <svg class="absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
              style="left: 0; bottom: 0">
              <path fill="#fff"
                d="M0,96L48,128C96,160,192,224,288,240C384,256,480,224,576,213.3C672,203,768,213,864,202.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
              </path>
            </svg>
          </div>
          <div class="p-6">
            <h5 class="text-lg font-bold mb-4">Jesse Comeau</h5>
            <p class="text-gray-500 mb-4">Fullstack Web Developer</p>
            <ul class="list-inside flex mx-auto justify-center">
              <ul class="list-inside flex mx-auto justify-center">
              <a href="https://github.com/JesseComeau" target="/"
              class="px-2">
                <i class="fa-brands fa-github"></i>
              </a>
              <a href="https://linkedin.com/in/jessecomeau" target="/" class="px-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="">
        <div class="bg-white block rounded-lg shadow-lg">
          <div class="relative overflow-hidden bg-no-repeat bg-cover">
            <img src="/images/Glenn.png" class="w-full rounded-t-lg" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
            </a>
            <svg class="absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
              style="left: 0; bottom: 0">
              <path fill="#fff"
                d="M0,288L48,256C96,224,192,160,288,160C384,160,480,224,576,213.3C672,203,768,117,864,85.3C960,53,1056,75,1152,69.3C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
              </path>
            </svg>
          </div>
          <div class="p-6">
            <h5 class="text-lg font-bold mb-4">Glenn John Cervantes</h5>
            <p class="text-gray-500 mb-4">Web/Logo designer</p>
            <ul class="list-inside flex mx-auto justify-center">
              <ul class="list-inside flex mx-auto justify-center">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="/" class="px-2">
                <i class="fa-brands fa-github"></i>
              </a>
              <a href="https://m.media-amazon.com/images/M/MV5BMDA0NjZhZWUtNmI2NC00MmFjLTgwZDYtYzVjZmNhMDVmOTBkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_FMjpg_UX1000_.jpg" target="/"class="px-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>