<title>ManyFest - {{collection.name}}</title>
<div class="container px-4 mx-auto">
        <section class="py-8 overflow-hidden text-gray-700">
                <div class="flex flex-col justify-centeralign-center">
                        <h2 class="mt-0 mb-2 text-4xl font-medium leading-tight ">{{collection.name}}</h2>
                        <span class="hidden" id="collectionId">{{collection.id}}</span>
                        <p class="mb-4">{{collection.description}}</p>

                        <div class="grid grid-cols-12 gap-x-2.5 gap-y-4">
                                <button type="button"
                                class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out ml-1 mb-2 col-span-12 md:col-span-2 lg:col-span-1"

                                        data-bs-toggle="modal" data-bs-target="#addItemModal">Add Item</button>

                                <button type="button"
                                        class="sm:inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out ml-1 mb-2 col-span-6 md:col-span-2"

                                        data-bs-toggle="modal" data-bs-target="#editCollectionModal">Edit
                                        collection</button>
                                <button type="button"
                                        class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out ml-1 mb-2 col-span-6 md:col-span-2"
                                        data-bs-toggle="modal" data-bs-target="#deleteCollectionModal">Delete
                                        collection</button>
                                </div>
                        </div>
                </div>
                {{!-- <div class="flex flex-col col-6"> --}}

                        {{> item-add}}
                        {{> collection-edit}}
                        {{> collection-delete}}
                {{!-- </div> --}}
        </section>

        <section class="grid mx-auto mb-4">
                <div class="flex flex-wrap justify-center w-full">
                        {{#if collection.items}}
                        {{#each collection.items as |item|}}
                        {{> item-card}}
                        {{/each}}
                        {{/if}}
                </div>
        </section>
</div>
