<div class="container px-4 mx-auto">
        <section class="py-8 overflow-hidden text-gray-700">
                <div class="flex flex-col justify-centeralign-center">
                        <h2 class="mt-0 mb-2 text-4xl font-medium leading-tight ">{{collection.name}}</h2>
                        {{!-- <span class="hidden" id="collectionId">{{collection.id}}</span> --}}
                        <div>
                                <button type="button"
                                        class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                                        data-bs-toggle="modal" data-bs-target="#addItemModal">Add Item</button>
                                {{!-- <button type="button"
                                        class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out ml-8"
                                        data-bs-toggle="modal" data-bs-target="#editCollectionModal">Edit
                                        collection</button>
                                <button type="button"
                                        class="inline-block px-6 py-2.5 bg-red-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-lg transition duration-150 ease-in-out ml-8"
                                        data-bs-toggle="modal" data-bs-target="#deleteCollectionModal">Delete
                                        collection</button> --}}
                        </div>
                </div>
                <div class="flex flex-col col-6">

                        {{> item-add}}
                        {{> collection-edit}}
                        {{> collection-delete}}

                </div>
        </section>
        <section class="overflow-hidden text-gray-700 ">
                <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
                        <div class="flex flex-wrap -m-1 md:-m-2">
                                {{#if collection.items}}
                                {{#each collection.items as |item|}}
                                {{> card}}
                                {{/each}}
                                {{/if}}
                        </div>
                </div>
        </section>
</div>