{{!-- user dashboard, only seen when logged in
page should have all collections on the page
list? cards?
do we want to have the option to delete a collection directly from this page?
or do we want it limited to the collections page

page needs a either a form, or a button/link that brings up the form for new collection creation
button could launch a modal with the form contained, would be activated with client-side js
could also be hidden on page, and button makes form visible
could also make the form its own page

this page would also be the place to update user information: email and password
again, this could be handled on page, or via link to new page--}}
<div class="container px-4 mx-auto">
  <title>Manyfest: Dashboard</title>
  <section class="py-8 overflow-hidden text-gray-700">
    <div class="flex">
      <h2 class="mt-0 mb-2 text-4xl font-medium leading-tight">Profile:</h2>
      <button type="button"
        class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out ml-8"
        data-bs-toggle="modal" data-bs-target="#editUserModal">Update User:</button>
    </div>
                  <p class="hidden" id="userId">{{user.id}}</p>
    <div class="flex flex-col col-6">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block w-2/4 py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-white border-b">
                <tr class="transition duration-300 ease-in-out bg-white border-b hover:bg-gray-100">
                  <th scope="col" class="px-6 py-4 text-sm font-medium text-left text-gray-900">
                    Username:
                  </th>
                  <td scope="col" id="username" class="px-6 py-4 text-sm font-light text-gray-900 whitespace-nowrap">
                    {{user.username}}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="transition duration-300 ease-in-out bg-white border-b hover:bg-gray-100">
                  <th class="px-6 py-4 text-sm font-medium text-left text-gray-900">
                    Email Address:
                    </td>
                  <td class="px-6 py-4 text-sm font-light text-gray-900 whitespace-nowrap">
                    {{email}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {{> dashboard-userEdit}}

    </div>
  </section>

  <section class="w-2/4 overflow-hidden text-gray-700">
    <div class="flex">
      <h2 class="mt-0 mb-2 text-4xl font-medium leading-tight">My Collections:</h2>
      <button type="button"
        class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out ml-8"
        data-bs-toggle="modal" data-bs-target="#addModal">Add Collection</button>

      {{> dashboard-addCollection}}

    </div>
    <div class="pt-4 accordion" id="accordionExample">

      {{#if collections}}
      {{#each collections as |collection|}}

      {{> collection}}

      {{/each}}
      {{/if}}

    </div>
  </section>

</div>