{{!-- user dashboard, only seen when logged in
        page should have all collections on the page
            list? cards?
        do we want to have the option to delete a collection directly from this page?
        or do we want it limited to the collections page
        
        page needs a either a form, or a button/link that brings up the form for new collection creation
        button could launch a modal with the form contained, would be activated with client-side js
        could also be hidden on page, and button makes form visible
        could also make the form its own page
        
        this page would also be the place to update user information: email and password
        again, this could be handled on page, or via link to new page--}}

        

<section class="overflow-hidden text-gray-700 ">
  <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 pl-8">My Collections</h2>
  <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
        {{#each collectionData}}
        <div class="flex justify-center mx-2">
          <div class="rounded-lg shadow-lg bg-white max-w-sm">
            <a href="collections/{{id}}" data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" alt=""/>
            </a>
            <div class="p-6">
              <h5 class="text-gray-900 text-xl font-medium mb-2">{{name}}</h5>
              <p class="text-gray-700 text-base mb-4">
                {{description}}
              </p>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
  </div>
</section>