<title>ManyFest - Home</title>
{{#unless loggedIn}}
    <!-- Jumbotron -->
    <div
        class="p-6 text-gray-700 bg-gray-100 rounded-lg shadow-lg sm-columns-3"
    >
        <h2 class="mb-5 text-3xl font-semibold">Welcome to<span class="text-blue-600">Many</span>Fest</h2>
        <hr class="my-4 border-gray-300 sm-hidden" />
        <p>
            Organizing a world of lists into a single application. Here are some of the latest additions and login/signup to start your own.
        </p>
    </div>
    <!-- Jumbotron -->
{{/unless}}
{{#if loggedIn}}
    <div
        class="p-6 text-gray-700 bg-gray-100 rounded-lg shadow-lg sm-columns-3"
    >
        <h2 class="mb-5 text-3xl font-semibold">Welcome back to<span class="text-blue-600">Many</span>Fest</h2>
        <hr class="my-4 border-gray-300 sm-hidden" />
        <p>
            See some of the recently added public collection items.
        </p>
    </div>
{{/if}}

<div>{{> carousel}}</div>
