{{!-- optional - this could either be a partial to feed into a modal or its own page
        
        whichever, this should have all the relevant details for the user:
        name, description, image, price
        this is where people would have the option to add, update, and delete item information--}}

<script>console.log(item)</script>

 <h2>{{item.name}}<h2>
 <p>{{item.description}}</p>      
 <p>{{item.price}}</p>      
 {{!-- <p>{{createdAt}}</p>      --}}