{{!-- login form - could be a full page, or a partial for a modal
        
        this could contain just the login form, or could be both login/signup
        which form could be switched by a button client-side
        
        if modal, we'll want a sign-in partial as well--}}

        <h2>Login</h2>

                <form class="form login-form" id="loginForm">
                        <div class="form-group">
                                <label for="email-login" >email:</label>
                                <input class="form-input" type="text" id="email" value="Jesse@email.com"/>
                        </div>
                        <div class="form-group">
                                <label for="password-login" >password:</label>
                                <input class="form-input" type="password" id="password" value="password1234"/>
                        </div>
                                <div class="form-group">
                                <button class="btn btn-primary" type="submit">login</button>
                        </div>
                </form>

        <script src="/js/login.js"></script>