{{! login form - could be a full page, or a partial for a modal
        
        this could contain just the login form, or could be both login/signup
        which form could be switched by a button client-side
        
        if modal, we'll want a sign-in partial as well}}

<section class="h-screen login-form">
    <div class="h-full px-6 text-gray-800">
        <div
            class="flex flex-wrap items-center justify-center h-full xl:justify-center lg:justify-between g-6"
        >
            <div
                class="justify-center mb-12 grow-0 shrink-[2] md:shrink-1 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 md:mb-0"
            >
                <img
                    src="/images/Manyfest.png"
                    class="max-w-xl"
                    style="height: 300px"
                    alt="ManyFest Logo"
                />
            </div>
            <div class="mb-12 xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 md:mb-0">
                <form>
                    <div
                        class="flex flex-row items-center justify-center lg:justify-start"
                    >
                        <p class="mb-0 mb-6 mr-4 text-lg">Sign in:</p>
                    </div>

                    <!-- Email input -->
                    <div class="mb-6">
                        <input
                            type="text"
                            class="block w-full px-4 py-2 m-0 text-xl font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="email"
                            placeholder="Email address"
                            value="freya@email.com"
                        />
                    </div>

                    <!-- Password input -->
                    <div class="mb-6">
                        <input
                            type="password"
                            class="block w-full px-4 py-2 m-0 text-xl font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="password"
                            placeholder="Password"
                            value="123password"
                        />
                    </div>

                    <div class="flex items-center justify-between mb-6">
                        <div class="form-group form-check">
                        </div>
                    </div>

                    <div class="text-center lg:text-left">
                        <button
                            class="inline-block py-3 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
                            type="submit"
                        >
                            Login
                        </button>
                        <p class="pt-1 mt-2 mb-0 text-sm font-semibold">
                            Don't have an account?
                            <br />
                            <a
                                href="/signup"
                                class="text-red-600 transition duration-200 ease-in-out hover:text-red-700 focus:text-red-700"
                                {{! data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" }}
                            >Sign Up!</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{!-- 
{{> signup-modal}} --}}
<script src="/js/login.js"></script>