{{!-- login form - could be a full page, or a partial for a modal
        
        this could contain just the login form, or could be both login/signup
        which form could be switched by a button client-side
        
        if modal, we'll want a sign-in partial as well--}}

<section class="h-screen login-form">
  <div class="px-6 h-full text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-1 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0 justify-center"
      >
        <img
          src="/images/Manyfest.png"
          class="max-w-xl"
          style="height: 500px"
          alt="ManyFest Logo"
        />
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form>
          <div class="flex flex-row items-center justify-center lg:justify-start">
            <p class="text-lg mb-0 mr-4 mb-6 ">Sign in:</p>
          </div>

          <!-- Email input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="email"
              placeholder="Email address"
              value="freya@email.com"
            />
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="password"
              placeholder="Password"
              value = "123password"
            />
          </div>

          <div class="flex justify-between items-center mb-6">
            <div class="form-group form-check">
            </div>
          </div>

          <div class="text-center lg:text-left">
            <button
              class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" type="submit"
            >
              Login
            </button>
            <p class="text-sm font-semibold mt-2 pt-1 mb-0">
              Don't have an account?
              <br>
              <a
                href="/signup"
                class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                >Sign Up!</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>