<form action="/api/images" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <input
            id="image"
            class="form-control-file"
            type="file"
            accept=".jpg,.jpeg,.png,.svg,.webp,image/*"
            name="uploaded_image"
        />
        <input
            id="image-name"
            type="text"
            class="form-control"
            placeholder="Image description"
            name="desc"
        />
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>