* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    margin: 1em;

}

#title {
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 9em;
    margin: 1em;
    padding: 0.5em;
    text-shadow: gray 0px 1px 3px;
    border: 2px solid black;
    box-shadow: 0 0 10px inset;
}

nav {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    width: 40%;
    margin: 1em;
} 

ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
} 

li {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex: 1 1 20%;
    margin: 0.5em;
    
}

a:link {
    color: black;
    text-decoration: transparent;
}

a:visited {
    color: black;
    text-decoration: transparent;
}

.hashtagBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%; 
    height: 300px; 
    line-height: 3em;  
    border: thin #000 solid; 
    padding: 5px;
    font-weight: bold;
    font-size: xx-large;
}

#hashtagBoxButtonLeft, #hashtagBoxButtonRight {
    height: 3em;
    background-color: 20;

}

.logInBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

